.container {
    background-color: #000;
    padding: 1.25rem 1.75rem;
}
.title {
    font-size: 1.33rem;
    color: #fff;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.iconButton {
    background: transparent;
    border: none;
    cursor: pointer;
}
.username {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}
